@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject IHtmlLocalizer<SharedResource> localizer;
@using IUMS.Application.Constants
@using IUMS.Web
@using IUMS.Web.Areas.Academic.Models
@using IUMS.Web.Views.Shared.Components.Common
@using Microsoft.AspNetCore.Localization
@model LookupViewModel
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cName = requestCulture.RequestCulture.Culture.Name;
}
<form id="create-form" method="post" asp-area="Common" asp-controller="Lookup" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row px-2">
        <input type="hidden" value="@cName" name="Local" />
        <div class="col-md-6">
            <div class="form-group ">
                <label class="form-label required"> @localizer[LocalizerConstant.CODE]: </label>
                <input type="text" asp-for="Code" name="Code" class="form-control">
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group ">
                <label class="form-label required"> @localizer[LocalizerConstant.NAME]:  </label>
                <input type="text" asp-for="Name" name="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-md-6">
            <div class="form-group ">
                <label class="form-label required">@localizer[LocalizerConstant.NAMEBN]: </label>
                <input type="text" asp-for="NameBN" name="NameBN" class="form-control">
                <span asp-validation-for="NameBN" class="text-danger"></span>
            </div>
        </div>

        @*    <div class="col-md-6">
        @(await Component.InvokeAsync<LookupParentViewComponent>(new { selectedId = "ParentId", parentId = Model.ParentId, labelclass = "text-right" }))
        </div>*@
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "ParentId",
                        id = "ParentId",
                        entityId = Model.ParentId,
                        query = CommonDropdownConstants.GET_ALL_ACTIVE_LOOKUPS,
                        labelText = "Parent",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
            <input type="hidden" value="@Model.ParentId" />
            <input type="hidden" asp-for="ParentId" />
        </div>

    </div>
    @if (Model.Id == 0)
    {
        <div class="row px-2">
            <div class="col-md-6 form-group ">
                @if (Model.Status == "true")
                {
                    <input type="checkbox" checked asp-for="Status" name="Status" class="form-check-input" style="margin-left: auto">
                }
                else
                {
                    <input type="checkbox" asp-for="Status" name="Status" class="form-check-input" style="margin-left: auto">
                }
                <label class="form-label" style="margin-left: 25px;">  @localizer[LocalizerConstant.ACTIVE]: </label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="Status" value="@Model.Status" name="Status" class="form-check-input" style="margin-left: auto">
    }
    <div class="row px-2">
        <button type="submit" class="btn btnFormSave" style="width:100%; margin-top:10px; margin-left: 7px; margin-right: 7px ">Save</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

<script>
    $("#ParentId").select2({
        placeholder: "Search Item",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });

</script>
