@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject IHtmlLocalizer<SharedResource> localizer
@using IUMS.Application.Constants
@using IUMS.Web
@using IUMS.Web.Areas.Academic.Models
@using IUMS.Web.Views.Shared.Components.Common
@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cName = requestCulture.RequestCulture.Culture.Name;
}
@model BatchViewModel

<form id="create-form" method="post" asp-controller="Batch" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <input type="hidden" value="@cName" name="Local" />
    <input type="hidden" asp-for="Id" />
    <div class="row px-2">
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "SessionId",
                        id = "SessionId",
                        entityId = Model.SessionId,
                        query = CommonDropdownConstants.GET_ALL_ACTIVE_SESSIONS,
                        labelText = "SessionId",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "FacultyId",
                        id = "FacultyId",
                        entityId = Model.FacultyId,
                        query = CommonDropdownConstants.GET_ALL_FACULTIES,
                        labelText = "Faculty",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "DepartmentId",
                        id = "DepartmentId",
                        entityId = Model.DepartmentId,
                        query = CommonDropdownConstants.GET_ALL_DEPARTMENTS,
                        parameters = new object[] { Model.FacultyId },
                        labelText = "Department",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "ProgramId",
                        id = "ProgramId",
                        entityId = Model.ProgramId,
                        query = CommonDropdownConstants.GET_ALL_PROGRAMS,
                        parameters = new object[] { Model.DepartmentId },
                        labelText = "Program",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label required">@localizer[LocalizerConstant.MENU_BATCH] (English) </label>
                <input type="text" asp-for="BatchName" name="BatchName" class="form-control">
                <span asp-validation-for="BatchName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label required">@localizer[LocalizerConstant.MENU_BATCH] (@localizer[LocalizerConstant.BANGLA])</label>
                <input type="text" asp-for="BatchNameBN" name="BatchNameBN" class="form-control">
                <span asp-validation-for="BatchNameBN" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.CODE]</label>
                <input type="text" asp-for="Code" name="Code" class="form-control">
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.SEAT_CAPACITY]</label>
                <input type="text" asp-for="Capacity" name="Capacity" class="form-control">
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row px-2 ">
        <button type="submit" class="btn btn col-12" style="background-color: #012766 ; color: white">Save</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

<script>
    $(document).ready(function () {

    });
    $("#FacultyId").change(function () {
        var cName = '@cName';
        var facultyId = $('#FacultyId').val();
        $("#DepartmentId").html('').append("<option Value=''>Choose Option</option>");

        $.get("/common/dropdown/DepartmentsByFaculty", { FacultyId: facultyId }, function (data) {
            $.each(data, function (index, row) {
                if (cName == 'en') {
                    $("#DepartmentId").append("<option value='" + row.id + "'>" + row.departmentName + "</option>")

                } else {
                    $("#DepartmentId").append("<option value='" + row.id + "'>" + row.departmentNameBN + "</option>")

                }

            })
        })
    });

    $("#DepartmentId").change(function () {
        var cName = '@cName';
        var departmentId = $('#DepartmentId').val();
        $("#ProgramId").html('').append("<option Value=''>Choose Option</option>");

        $.get("/common/dropdown/ProgramsByFaculty", { DepartmentId: departmentId }, function (data) {
            $.each(data, function (index, row) {
                console.log(row);
                if (cName == 'en') {
                    $("#ProgramId").append("<option value='" + row.id + "'>" + row.name + "</option>")

                } else {
                    $("#ProgramId").append("<option value='" + row.id + "'>" + row.nameBN + "</option>")

                }

            })
        })
    });

</script>