@inject IHtmlLocalizer<SharedResource> localizer
@using IUMS.Application.Constants
@using IUMS.Web
@using IUMS.Web.Areas.Academic.Models
@using IUMS.Web.Views.Shared.Components.Common
@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cName = requestCulture.RequestCulture.Culture.Name;
    var title = "Batch";
    var menuUrl = "Academic > Batch";

}
@model BatchViewModel

<div class="row">
    <div class="col-md-6">
        <h3>@title</h3>
        <small>@menuUrl</small>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @(
                            await Component.InvokeAsync<CommonViewComponent>(new
                            {
                                name = "FacultyId1",
                                id = "FacultyId1",
                                entityId = 0,
                                query = CommonDropdownConstants.GET_ALL_FACULTIES,
                                labelText = "Faculty",
                                isRequired = true,
                                isLabelRequired = true
                            })
                            )
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @(
                            await Component.InvokeAsync<CommonViewComponent>(new
                            {
                                name = "DepartmentId1",
                                id = "DepartmentId1",
                                entityId = 0,
                                query = CommonDropdownConstants.GET_ALL_DEPARTMENTS,
                                parameters = new object[] { 0 },
                                labelText = "Department",
                                isRequired = true,
                                isLabelRequired = true
                            })
                            )
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @(
                            await Component.InvokeAsync<CommonViewComponent>(new
                            {
                                name = "ProgramId1",
                                id = "ProgramId1",
                                entityId = 0,
                                query = CommonDropdownConstants.GET_ALL_PROGRAMS,
                                parameters = new object[] { 0 },
                                labelText = "Program",
                                isRequired = true,
                                isLabelRequired = true
                            })
                            )
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-2">
            <button type="button" class="btn btn-success" id="btnSearch">Search</button>  &nbsp;&nbsp;

            @{
                <a onclick="jQueryModalGet('/academic/batch/OnGetCreateOrEdit','Batch')" class="btn customBtn">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> &nbsp;&nbsp; Add New
                </a>
            }

        </div>
    </div>
</div>
<div id="viewAll">
</div>


@section Scripts
    {
    <script>

        //$(document).ready(function () {
        //    $("#batchTable").DataTable();
        //});

        $('#btnSearch').on('click', function () {
            loadData();
        });

        function loadData() {
            var facultyId = $('#FacultyId1').val();
            var departmentId = $('#DepartmentId1').val();
            var programId = $('#ProgramId1').val();

            $('#empTable').html('');
            $('#viewAll').load('/academic/batch/LoadAll?FacultyId=' + facultyId + '&DepartmentId=' + departmentId + '&ProgramId=' + programId);
        }
        $("#FacultyId1").change(function () {
            var cName = '@cName';
            var facultyId = $('#FacultyId1').val();
            $("#DepartmentId1").html('').append("<option Value=''>Choose Option</option>");

            $.get("/common/dropdown/DepartmentsByFaculty", { FacultyId: facultyId }, function (data) {
                $.each(data, function (index, row) {
                    if (cName == 'en') {
                        $("#DepartmentId1").append("<option value='" + row.id + "'>" + row.departmentName + "</option>")

                    } else {
                        $("#DepartmentId1").append("<option value='" + row.id + "'>" + row.departmentNameBN + "</option>")

                    }

                })
            })
        });

        $("#DepartmentId1").change(function () {
            var cName = '@cName';
            var departmentId = $('#DepartmentId1').val();
            $("#ProgramId1").html('').append("<option Value=''>Choose Option</option>");

            $.get("/common/dropdown/ProgramsByFaculty", { DepartmentId: departmentId }, function (data) {
                $.each(data, function (index, row) {
                    console.log(row);
                    if (cName == 'en') {
                        $("#ProgramId1").append("<option value='" + row.id + "'>" + row.name + "</option>")

                    } else {
                        $("#ProgramId1").append("<option value='" + row.id + "'>" + row.nameBN + "</option>")

                    }

                })
            })
        });
    </script>
}
