@using IUMS.Application.Constants
@using IUMS.Application.Features.Common.Queries
@using IUMS.Web
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@inject IHtmlLocalizer<SharedResource> localizer
@model IEnumerable<CommonDropdownResponse>
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cName = requestCulture.RequestCulture.Culture.Name;

    var name = ViewBag.Name;
    var id = ViewBag.Id;
    var entityId = ViewBag.EntityId;
    var classList = ViewBag.ClassList;
    var labelText = ViewBag.LabelText;
    var labelClass = ViewBag.LabelClass;
    var method = ViewBag.Method;
    var isRequired = ViewBag.IsRequired;
    var isLabelRequired = ViewBag.IsLabelRequired;

}
@if (isLabelRequired.ToString().ToLower() == "true")
{
    <label class="form-label @labelClass">
        @labelText
        @if (isRequired.ToString().ToLower() == "true")
        {
            <span class="text-danger">*</span>
        }
    </label>
}
@if (isRequired.ToString().ToLower() == "true")
{
    <select name="@name" id="@id" class="form-control @classList" data-val="true" data-val-message="@labelText is required" onchange="@method">
        <option value="">@localizer[LocalizerConstant.CHOOSE_OPTION]</option>
        @if (Model.Any())
        {
            @foreach (var entity in Model)
            {
                if (entity.Id == entityId)
                {
                    <option value="@entity.Id" selected="selected" title="@entity.Name">@(cName == "en" ? entity.Name : entity.NameBN ?? entity.Name)</option>
                }
                else
                {
                    <option value="@entity.Id" title="@entity.Name">@(cName == "en" ? entity.Name : entity.NameBN ?? entity.Name)</option>
                }
            }
        }
    </select>
}
else
{
    <select name="@name" id="@id" class="form-control @classList" onchange="@method">
        <option value="0">@localizer[LocalizerConstant.CHOOSE_OPTION]</option>
        @if (Model.Any())
        {
            @foreach (var entity in Model)
            {
                if (entity.Id == entityId)
                {
                    <option value="@entity.Id" selected="selected" title="@entity.Name">@(cName == "en" ? entity.Name : entity.NameBN ?? entity.Name)</option>
                }
                else
                {
                    <option value="@entity.Id" title="@entity.Name">@(cName == "en" ? entity.Name : entity.NameBN ?? entity.Name)</option>
                }
            }
        }
    </select>
}
<span class="text-danger field-validation-valid" data-valmsg-for="@name" data-valmsg-replace="true"></span>
