@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject IHtmlLocalizer<SharedResource> localizer
@using IUMS.Application.Constants
@using IUMS.Web
@using IUMS.Web.Areas.Academic.Models

@using IUMS.Web.Views.Shared.Components.Common
@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cName = requestCulture.RequestCulture.Culture.Name;
}
@model CourseViewModel

<form id="create-form" method="post" asp-controller="Course" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <input type="hidden" value="@cName" name="Local" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "FacultyId",
                        id = "FacultyId",
                        entityId = Model.FacultyId,
                        query = CommonDropdownConstants.GET_ALL_FACULTIES,
                        labelText = "Faculty",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "DepartmentId",
                        id = "DepartmentId",
                        entityId = Model.DepartmentId,
                        query = CommonDropdownConstants.GET_ALL_DEPARTMENTS,
                        parameters = new object[] { Model.FacultyId },
                        labelText = "Department",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @(
                    await Component.InvokeAsync<CommonViewComponent>(new
                    {
                        name = "ProgramId",
                        id = "ProgramId",
                        entityId = Model.ProgramId,
                        query = CommonDropdownConstants.GET_ALL_PROGRAMS,
                        parameters = new object[] { Model.DepartmentId },
                        labelText = "Program",
                        isRequired = true,
                        isLabelRequired = true
                    })
                    )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.COURSE_TITLE]</label>
                <input type="text" asp-for="CourseName" name="CourseName" class="form-control">
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.CODE]</label>
                <input type="text" asp-for="CourseCode" name="CourseCode" class="form-control">
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.COURSE_TYPE]</label>
                <select asp-for="CourseTypeId" class="form-control">
                    <option value="1">Regular</option>
                    <option value="2">Pre-Requisite</option>
                </select>
                <span asp-validation-for="CourseTypeId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.CREDITHOUR]</label>
                <input type="number" asp-for="CreditHour" name="CreditHour" class="form-control">
                <span asp-validation-for="CreditHour" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@localizer[LocalizerConstant.CONTACTTHOUR]</label>
                <input type="number" asp-for="ConductHour" class="form-control">
                <span asp-validation-for="ConductHour" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">@(cName == "en" ? "Total Class" : "মোট ক্লাস")</label>
                <input type="number" asp-for="TotalClass" class="form-control">
                <span asp-validation-for="TotalClass" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="checkbox" asp-for="IsActive" name="IsActive">
                <label class="form-label">@localizer[LocalizerConstant.ACTIVE]</label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row px-2">
        <button type="submit" class="btn btn col-12 btnFormSave">Save</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

<script>

    $("#FacultyId").change(function () {
        var cName = '@cName';
        var facultyId = $('#FacultyId').val();
        $("#DepartmentId").html('').append("<option Value=''>Choose Option</option>");

        $.get("/common/dropdown/DepartmentsByFaculty", { FacultyId: facultyId }, function (data) {
            $.each(data, function (index, row) {
                if (cName == 'en') {
                    $("#DepartmentId").append("<option value='" + row.id + "'>" + row.departmentName + "</option>")

                } else {
                    $("#DepartmentId").append("<option value='" + row.id + "'>" + row.departmentNameBN + "</option>")

                }

            })
        })
    });

    $("#DepartmentId").change(function () {
        var cName = '@cName';
        var departmentId = $('#DepartmentId').val();
        $("#ProgramId").html('').append("<option Value=''>Choose Option</option>");

        $.get("/common/dropdown/ProgramsByFaculty", { DepartmentId: departmentId }, function (data) {
            $.each(data, function (index, row) {
                console.log(row);
                if (cName == 'en') {
                    $("#ProgramId").append("<option value='" + row.id + "'>" + row.name + "</option>")

                } else {
                    $("#ProgramId").append("<option value='" + row.id + "'>" + row.nameBN + "</option>")

                }

            })
        })
    });
</script>