@using IUMS.Application.Constants
@using IUMS.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> localizer
<aside id="sideBar" class="main-sidebar sidebar-dark-primary">
    <a href="/" class="brand-link">
        <img src="~/images/logo-transparent.png" id="brand-logo" alt="logo" class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light" style="font-size:0.8em!important">IUMS</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            @localizer["Dashboard"]
                            <span class="right badge badge-danger">@localizer["New"]</span>
                        </p>
                    </a>
                </li>
                @if (User.IsInRole("SuperAdmin"))
                {
                    @* <li class="nav-header">@localizer["Admin"]</li> *@
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview">
                        <a is-active-route asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                @localizer["Admin Settings"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="User" class="nav-link">
                                    <i class="far fa-user-circle nav-icon"></i>
                                    <p>@localizer["Users"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="Role" class="nav-link">
                                    <i class="far fa-user-circle nav-icon"></i>
                                    <p>@localizer["Roles"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole("SuperAdmin"))
                {
                    @* <li class="nav-header">@localizer["Common"]</li> *@
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview">
                        <a is-active-route asp-area="common" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                @localizer["Common Setup"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="common" asp-controller="lookup" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer["Lookup Master"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="common" asp-controller="lookupdetail" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer["Lookup Detail"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("SuperAdmin"))
                {
                    @* <li class="nav-header">@localizer["Academic"]</li> *@
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview">
                        <a is-active-route asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-graduation-cap"></i>
                            <p>
                                @localizer["Academic Setup"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="Session" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer["Session"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="Faculty" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.FACULTY]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="Department" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.DEPARTMENT]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="Program" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.PROGRAM]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="Batch" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.BATCH]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="Course" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.COURSE]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="CourseAssign" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.MENU_COURSE_ASSIGN]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Academic" asp-controller="TeacherAssign" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.MENU_TEACHER_ASSIGN]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole("SuperAdmin"))
                {
                    @* <li class="nav-header">@localizer["Academic"]</li> *@
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview">
                        <a is-active-route asp-area="Admin" class="nav-link">
                            <i class="nav-icon fas fa-briefcase" aria-hidden="true"></i>
                            <p>
                                @localizer["Employee"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Employees" asp-controller="Employee" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.MENU_EMPLOYEE_QUICK_ADD]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Employees" asp-controller="Employee" asp-action="Employeelist" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.MENU_EMPLOYEE_LIST]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    @* <li class="nav-header">@localizer["Student Management"]</li> *@
                    <li is-active-route asp-area="Student" class="nav-item has-treeview">
                        <a is-active-route asp-area="Student" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                @localizer[LocalizerConstant.STUDENT]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Student" asp-controller="StudentBasicInfo" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.MENU_ADMISSION_FORM]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Student" asp-controller="StudentBasicInfo" asp-action="StudentList" class="nav-link">
                                    <i class="far fa-dot-circle-o nav-icon"></i>
                                    <p>@localizer[LocalizerConstant.MENU_STUDENT_LIST]</p>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                {
                    @* <li class="nav-header">@localizer["Student Management"]</li> *@
                    <li is-active-route asp-area="LMS" class="nav-item has-treeview">
                        <a is-active-route asp-area="LMS" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                @localizer["LMS"]
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (User.IsInRole("Teacher"))
                            {
                                <li class="nav-item">
                                    <a is-active-route asp-area="LMS" asp-controller="CourseMaster" class="nav-link">
                                        <i class="far fa-dot-circle-o nav-icon"></i>
                                        <p>@localizer["Course Setup"]</p>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a is-active-route asp-area="LMS" asp-controller="HostConfig" class="nav-link">
                                        <i class="far fa-dot-circle-o nav-icon"></i>
                                        <p>@localizer["Host Config"]</p>
                                    </a>
                                </li>
                            }
                           
                            
                        </ul>
                    </li>
                }
                @* <li class="nav-header">@localizer["Master"]</li> *@
                <li is-active-route asp-area="Utilities" class="nav-item has-treeview">
                    <a is-active-route asp-area="Utilities" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            @localizer["Utlities"]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active-route class="nav-link">
                                <i class="far fa-file-archive nav-icon"></i>
                                <p>@localizer["Document"]</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>